#
#   FILE:       .gitattributes
#   AUTHOR:     mmiddleton
#   DATE:       19 MAR. 2018
#
#   DESCRIPTION:
#   This file is for configuring how GitHub interprets the contents of the repository in its
#   online analytics
#

**/*.java linguist-vendored         # Remove the Java files that we use for test data
static/vis.js linguist-vendored     # Remove the VIS.JS file as its not ours
static/skeleton.css                 # Remove the SKELETON.CSS file as its not ours