<!DOCTYPE html>
<html lang="en">
<head>
        <title>Stonehill College MOSS Environment</title>

		<!-- Meta Tags: -->
		<meta charset="UTF-8">

		<!-- External Javascript -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

		<!-- CSS: -->
        <link rel="stylesheet" href={{url_for('static', filename='smoss.css')}} />
		<link rel="stylesheet" href={{url_for('static', filename='skeleton.css')}} />
</head>
<body>
<div class="container">
    <h1>Uh Oh!</h1>
    <p>If you're seeing this, something has gone wrong! Please see the details below:</p>
    <br>
    <br>
    <p>{{errorCode}}</p>
</div>
</body>
</html>