<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stonehill College MOSS Environment</title>

		<!-- Meta Tags: -->
		<meta charset="UTF-8">

		<!-- External Javascript -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

		<!-- CSS: -->
        <link rel="stylesheet" href={{url_for('static', filename='smoss.css')}} />
		<link rel="stylesheet" href={{url_for('static', filename='skeleton.css')}} />
    </head>

    <body>
        <div class="container">
            <h1>SMOSS Environment</h1>
            <p>Welcome to the Stonehill College MOSS submission and analysis environment. Please select one of the pipelines below to begin:</p>
            <div class="row">
                <div class="six columns">
                    <h3>Assignment Review</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="button button-primary" href=#>View Now</a>            
                </div>
                <div class="six columns">
                    <h3>Cross-Assignment Analysis</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a class="button button-primary" href=#>Analyze Now</a>            
                </div>
            </div>
        </div>
    </body>
</html>