<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stonehill College MOSS Environment</title>

		<!-- Meta Tags: -->
		<meta charset="UTF-8">

		<!-- External Javascript -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src={{url_for('static', filename='smoss.js')}}></script>

		<!-- CSS: -->
		<link rel="stylesheet" href={{url_for('static', filename='skeleton.css')}} />
        <link rel="stylesheet" href={{url_for('static', filename='smoss.css')}} />
    </head>

    <body>
        <h1>SMOSS</h1>
        <div class="container">
            <h3>Enter URL's to Analyze:</h3>
            <form>
                <div class="row">
                    <textarea class="u-full-width"></textarea>
                </div>
                <input class="u-full-width button-primary" type="submit" value="Submit"> 
            </form>
        </div>
    </body>
</html>