<html lang="en">
    <head>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  		<script src="http://datatables.net/download/build/jquery.dataTables.js"></script>

        <link rel="stylesheet" href={{url_for('static', filename='skeleton.css')}} />
        <link rel="stylesheet" href={{url_for('static', filename='smoss.css')}} />
    </head>

    <body>
        <h1>Moss Results</h1>
        <HR>
            [ <A HREF="http://moss.stanford.edu/general/format.html" TARGET="_top"> How to Read the Results</A> | <A HREF="http://moss.stanford.edu/general/tips.html" TARGET="_top"> Tips</A> | <A HREF="http://moss.stanford.edu/general/faq.html"> FAQ</A> | <A HREF="mailto:moss-request@cs.stanford.edu">Contact</A> | <A HREF="http://moss.stanford.edu/general/scripts.html">Submission Scripts</A> | <A HREF="http://moss.stanford.edu/general/credits.html" TARGET="_top"> Credits</A> ]
        </HR>

        <p>
        </p>

        <table id="example" class ="display" border=1 cellpadding=7>
            <thead>
            <tr>
                <th>User</th>
                <th>Total Number of Lines Matched</th>
            </tr>
            </thead>

            <tbody>
                <tr>{% for obj in percentsValues %}
                    <td>{{ obj.get_name() }}</td>
                    <td>{{ obj.get_data() }}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
        <table id="example2" class ="display" border=1 cellpadding=7>
            <thead>
            <tr>
                <th>User</th>
                <th>Average Highest Percent Matched</th>
            </tr>
            </thead>
        <tbody>
                <tr>{% for obj in linesValues %}
                    <td>{{ obj.get_name() }}</td>
                    <td>{{ obj.get_data() }}</td>
                </tr>{% endfor %}
        </tbody>
    </table>
    </body>
</html>